<div class="title-wrapper">
  <div class="container">
    <h1 class=“heading”><span class="test">Remote interviews</span></h1>
  </div>
</div>

<div class="container">
  <div 
    class="twilio-video" 
    data-sid="<%= ENV["TWILIO_ACCOUNT_SID"] %>" 
    data-room="<%= @interview.url_room %>" 
    data-token="<%= @token %>"
    >

    <div class="row justify-content-between">
      <div class="col-4">
        <div class="participant">
          <p>Interviewee: <%= @user.first_name %> <%= @user.last_name %></p>
           <!--<video id="userVideo" autoplay muted="true" ></video>-->
        </div>
      </div>
      <div class="col-4">
        <div class="remote-media-div text-center">
         <p>Interviewer: <%= @interviewer.first_name %> <%= @interviewer.last_name %></p>
          <video id="userVideo" autoplay muted="true" ></video>
          <div>
            <%= link_to "End Call", applicant_dashboard_path(@user), class: "btn btn-primary" %>
            <!--<button id='leave-btn' class='btn btn-primary mt-3'> 
              Quit
               link_to "+ Service", my_services_new_path(:account_id => acct.id)
            </button>-->
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-7">
      <p class="text-center">
        <!--<%#= @interview.booker == current_user ? @booking.proposal.proposer.email : @booking.booker.email %>-->
      </p>
      </div>
    </div>
    <%= link_to '', root_path, class: 'd-none root-link', data: {turbolinks: false}  %>

  </div>
</div>
