<div class="container">
  <!-- <br>
  <div>
    <h3 style="text-align:center"><%= @application.user.first_name %> <%= @application.user.last_name %></h3>
  </div> -->
  <br>
  <div class="d-flex">
    <% if @application.user.first_name == "Alex" %>
      <%= image_tag "https://res.cloudinary.com/wagon/image/upload/c_fill,g_face,h_200,w_200/v1623952841/ocpazuh6yvnpyvu5ew1r.jpg", class: "organisation-photo"%>
    <% else %>
      <%= image_tag "p2.jpg", class: "organisation-photo"%>
    <% end %>
    <div class="organisation-paragraph organisation-new">
       <strong><%= @application.user.first_name %> <%= @application.user.last_name %></strong><br><br>
       Address : <%= @application.user.address %> - <%= @application.user.city %><br>
       Phone Number : <%= @application.user.phone_number %><br>
       Date of birth : <%= @application.user.date_of_birth %><br>
       Email : <%= @application.user.email %><br>
    </div>
  </div>

  <div class="profile-information">
    <div>
      <h3 class="heading-1"> <span class="test"> Qualifications</span></h3>
    </div>
    <div class="text-center">
       <ul class="applicant-attributes">
          <% @application.user.qualifications.each do |qualification| %>
            <li><%= qualification.qualification_category %> <%= qualification.qualification_value %></li>
          <% end %>
        </ul>
    </div>

    <div>
      <h3 class="heading-1"> <span class="test"> Previous experience</span></h3>
    </div>
    <div>
        <ul class="text-simple prev-exp text-center">
          <% @application.user.experiences.each do |experience| %>
          <li> <%= experience.previous_experience %> </li>
            <% end %>
        </ul>
    </div>

    <div style='text-align:center'>
      <% if @application.status.nil? %>
        <%= link_to "Accept Application", accept_application_path(@application), class: "revised-button"  %>
        <%= link_to "Decline Application", decline_application_path(@application), class: "revised-button-red"  %>
      <% end %>
    </div>
  </div>

</div>

<%= @application.status %>
