
<div class="container">

<div class="container" style="background-color: rgb(117, 194, 246);">

   <%= form_tag organisations_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find the tribe you belong to"
    %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>
</div>

<div class="container mt-3" style="width:900px;">
  <!--<ul>-->
  <div class="card-grid">
    <% @organisations.each do |organisation| %>
      <!--<li>-->
         <div class="card">
         <%#= image_tag "avatar_placeholder.jpg", class: "avatar avatar-xs", data: { titi: "toto" } %>
            <img src="sbm-logo.png") class="card-img-top" >
              <div class="card-body">
                <p class="card-text">
                 <%= organisation.description[0..160]  %>
                 <%= link_to "View", organisation_path(organisation), class: "btn btn-primary" %>

                </p>
             </div>
         </div>
       <!--</li>-->
    <% end %>
  <!--</ul>--> 

  <%= link_to "Create an organisation", new_organisation_path %>

</div>

</div>



