<div class="container">
  <div class="d-flex">
    <% if @organisation.photo.attached? %>
      <%= cl_image_tag @organisation.photo.key, class: "organisation-photo" %>
    <% else %>
      <%= image_tag 'great.png', class: "organisation-photo"%>
    <% end %>
    <div class="organisation-paragraph organisation-new">
       <%= @organisation.address %><br>
       <%= @organisation.city %><br>
       <%= @organisation.phone_number %><br>
       <%= @organisation.email %><br>
       <%= link_to @organisation.website, "http://#{@organisation.website}", class: "organisation-link"%>
    </div>
  </div>
  <div class="organisation-paragraph-new">
   <%= @organisation.description %>
  </div>
    <div class="text-center">
     <% if @organisation.user === current_user   %>
       <button type="button" class="btn btn-primary">
        <%= link_to "Edit", edit_organisation_path(@organisation), class: "learn-more-button" %>
       </button>
     <% end %>
    </div>
    <div>
      <h2 class="heading my-4"><span class="test">Availabe jobs at <%= @organisation.name %></span></h2>
      <% @organisation.jobs.each do |job| %>
      <div class="card-revised d-flex">
        <div class="card-revised-new">
          <h4><%= job.title %></h4>
          <h5><%= job.organisation.name%>, <%= job.organisation.city %></h5>
          <p><%= job.description.truncate_words(30)%></p>
         <p><span id="card-category"><%= job.category%></span></p>
        </div>
        <div class="card-revised-link">
          <% if current_user.role && current_user.role == "Applicant" %>
            <%= link_to "ðŸ‘‰ Apply", applications_path(job_id: job.id, redirect: "organisations"), method: :post, class: "revised-button" %>
          <% end %>
          <br></br>
          <%= link_to "ðŸ” View", job_path(job), class: "revised-button button-green" %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
<br></br>
<br></br>
<div class="footer">
    <div class="box-container">
      <div class="box">
        <h3>About Us</h3>
        <p>We are a team of commited young graduates who are helping to connect aspiring job seekers with great employers. We have a history of 15 years. We have had more than 100,000 students using our website to apply for internships.</p>
      </div>
      <div class="box">
        <h3>Follow us</h3>
        <a href="#">Facebook</a>
        <a href="#">Instagram</a>
        <a href="#">LinkedIn</a>
        <a href="#">Twitter</a>
        <a href="#">Youtube</a>
      </div>
      <div class="box">
        <h3>Legal</h3>
        <a href="#">Terms</a>
        <a href="#">Privacy</a>
      </div>
    </div>
</div>






