<div class="container">
  <h2>Update a job</h2>
  <%= simple_form_for @job do |f| %>
    <%= f.input :title, placeholder:Enter your job title %>
    <%= f.input :description, placeholder:Enter your job description%>
    <%= f.input :salary, placeholder:Enter your salary%>
    <%= f.input :duration, placeholder:Enter your duration%>
    <%= f.input :category, placeholder:Enter your category%>
    <%= f.input :deadline, placeholder:Enter your deadline%>
    <%= f.button :submit, class: "btn btn-sm btn-outline-primary" %>
  <% end %>
</div>
