<div class="home-1">
  <div class="container">
    <div class="d-flex justify-content-between mt-5 pb-5">
      <h1 class="content organisation-revised-header"><span class="test">FIND YOUR <br> DREAM INTERNSHIP HERE</span></h1>
      <%= image_tag 'Group 1.png' %>
    </div>
    <div class="search-bar">
      <%= form_tag jobs_path, method: :get do %>
      <div class="d-flex">
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Find an internship"
        %>
        <%= submit_tag "SEARCH", class: "ml-3 btn btn-primary" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
<br></br>
<div class="container">
  <% @jobs.each do |job|  %>
  <div class="card-revised d-flex">
    <div class="card-revised-new">
      <h4><%= job.title %></h4>
      <h5><%= job.organisation.name%>, <%= job.organisation.city %></h5>
      <p><%= job.description.truncate_words(30)%></p>
      <p><span class="card-category"><%= job.category%></span></p>
    </div>
    <div class="card-revised-link ">
      <% if current_user && current_user.role == "Applicant" %>
        <%= link_to "ðŸ‘‰ Apply", applications_path(job_id: job.id), method: :post, class: "revised-button" %>
      <% end %>
      <br></br>
      <%= link_to "ðŸ” View", job_path(job), class: "revised-button button-green" %>
    </div>
  </div>
  <% end %>
</div>
<br></br>
<br></br>

<div class="footer">
    <div class="box-container">
      <div class="box">
        <h3>About Us</h3>
        <p>We are a team of commited young graduates who are helping to connect aspiring job seekers with great employers. We have a history of 15 years. We have had more than 100,000 students using our website to apply for internships.</p>
      </div>
      <div class="box">
        <h3>Follow us</h3>
        <a href="#">Facebook</a>
        <a href="#">Instagram</a>
        <a href="#">LinkedIn</a>
        <a href="#">Twitter</a>
        <a href="#">Youtube</a>
      </div>
      <div class="box">
        <h3>Legal</h3>
        <a href="#">Terms</a>
        <a href="#">Privacy</a>
      </div>
    </div>
</div>

