<div class="container">
  <div class="search-bar">
    <%= form_tag jobs_path, method: :get do %>
    <div class="d-flex">
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Find a job"
        %>
        <%= submit_tag "Search", class: "btn btn-primary" %>
    </div>
    <% end %>
  </div>
  <div>
    <h2 class="heading"> <span class="test">All Jobs</span></h2>
  </div>

  <!-- <ul class="cards-job">
    <% @jobs.each do |job|  %>
      <li><%= job.title %></li>
      <li><%= job.organisation.name %></li>
      <li><%= job.organisation.city %></li>
      <li><%= job.description.truncate_words(4) %></li>
      <li><%= job.category%></li>
      <li><%= link_to "ðŸ‘‰ Apply", new_application_path(job_id: job.id)%></li>
      <li><%= link_to "ðŸ” View", job_path(job) %></li>
    <% end %>
  </ul>
</div> -->

  <% @jobs.each do |job|  %>
  <div class="card">
    <div class="card-header d-flex justify-content-between">
      <h5><%= job.organisation.name%></h5>
      <h5><%= job.organisation.city %></h5>
    </div>
    <div class="card-body">
      <h5 class="card-title"><%= job.title %></h5>
      <p class="card-text"><%= job.description.truncate_words(30)%></p>
      <%= link_to "ðŸ‘‰ Apply", applications_path(job_id: job.id), method: :post, class: "btn btn-primary" %>
      <%= link_to "ðŸ” View", job_path(job), class: "btn btn-primary" %>
    </div>
  </div>
  <% end %>
</div>
