
<div class="container pr-5">
  <div class="image-full">
    <div class="banner-area">
      <h1><%= @job.title %></h1>
      <h2><%= @job.organisation.name %></h2>
    </div>
  </div>
  <div class="text-simple">
    <p><span class="about">Job Description</span></p>
    <p><%= @job.description %></p>
    <!-- Add image of company using cloudinary-->
    <p><span class="about">About</span></p>
    <p><%= @job.organisation.description %></p>
  </div>
    <div class="photo d-flex justify-content-center my-4">
      <% if @job.photo.attached? %>
        <%= cl_image_tag @job.photo.key, height: 300, width: 400, crop: :fill, class: "border border-light rounded" %>
      <% else %>
       <%= image_tag 'great.png', height: 300 %>
      <% end %>
    </div>
    <div class="text-center">
      <%= link_to "Learn more about #{@job.organisation.name}", organisation_path(@job.organisation),class: "learn-more-button" %>
    </div>
  <br></br>
  <br></br>
</div>

<div class="title job-sicky">
  <p><i class="fas fa-briefcase"></i> <%= @job.category %></p>
  <p><i class="fas fa-hourglass-end"></i> <%= @job.deadline %></p>
  <p><i class="fas fa-calendar-week"> </i> <%= @job.duration %></p>
  <p><i class="fas fa-money-bill"> </i> Rs <%= @job.salary %>/month</p>
  <% if current_user.role == "Applicant" %>
    <%= link_to "Apply", applications_path(job_id: @job.id), method: :post, class: "new-botton" %>
  <% end %>
</div>

<div class="footer">
    <div class="box-container">
      <div class="box">
        <h3>About Us</h3>
        <p>We are a team of commited young graduates who are helping to connect aspiring job seekers with great employers. We have a history of 15 years. We have had more than 100,000 students using our website to apply for internships.</p>
      </div>
      <div class="box">
        <h3>Follow us</h3>
        <a href="#">Facebook</a>
        <a href="#">Instagram</a>
        <a href="#">LinkedIn</a>
        <a href="#">Twitter</a>
        <a href="#">Youtube</a>
      </div>
      <div class="box">
        <h3>Legal</h3>
        <a href="#">Terms</a>
        <a href="#">Privacy</a>
      </div>
    </div>
  </div>
