<div class="container">
  <br>
  <div>
    <h4 style="text-align:center">You've applied to <strong><%= @your_count %></strong> internships</h4>
  </div>

    <% @your_applications.each do |application| %>
      <div class="card">
        <div class="card-header d-flex justify-content-between">
          <h5><%= application.job.organisation.name%></h5>
          <h5><%= application.status.nil? ? "Pending" : (application.status ? "Accepted" : "Declined") %></h5>
        </div>
        <div class="card-body">
          <h5 class="card-title"><%= application.job.title %></h5>
          <p class="card-text"><%= application.job.duration %></p>
          <p class="card-text"><%= application.job.description.truncate_words(30) %></p>
        </div>
      </div>
    <% end %>

<br>

  <div style="text-align:center">
    <%= link_to "Go back to internships", jobs_path, class: "btn btn-primary" %>
  </div>

</div>
<br>

<div class="container">
  <div>
    <h3>Your qualifications</h3>
  </div>

    <ul class="list-dashboard">
      <% @user_qualifications.each do |qualification| %>
        <li><%= qualification.qualification_category %> <%= qualification.qualification_value %></li>
      <% end %>
    </ul>
    <%= link_to "Add a qualification", new_user_qualification_path %>
</div>
<br>
<div class="container">
  <div>
    <h3>Previous Experience</h3>
  </div>

    <ul class="list-dashboard">
      <% @user_experiences.each do |experience| %>
        <li><%= experience.previous_experience %></li>
      <% end %>
    </ul>
    <%= link_to "Add previous experience", new_experience_path %>
</div>
<br>
<br>

<div class="footer d-flex justify-content-between">
    <p>Privacy Policy</p>
    <p>About us</p>
  </div>
