<h1>Hello there employer dashboard</h1>

<div class="container">
  <div>
    <h3>Jobs posted</h3>
    <%= @my_count %>
  </div>
  <div>
    <h3>Applicants</h3>
    <%= @my_applicants_size %>
  </div>
  <div class="buttons-flat">
    <ul>
      <li><%= link_to "Post a job", new_organisation_job_path(organisation) %></li>
      <li><%= link_to "Delete a job", job_path(job), method: :delete, data: { confirm: "Are you sure?" }%></li>
    </ul>
  </div>
  <ul class="list-dashboard">
    <% @my_jobs.each do |application| %>
      <li><%= application.title %></li>
      <li><%= application.description.truncate_words(4) %></li>
      <li><%= application.category %></li>
      <li><%= link_to "View job" , job_path(job) %></li>
      <!-- list applicants -->
    <% end %>
  </ul>
  <div class="footer">
    <p>Privacy Policy</p>
    <p>About us</p>
  </div>
</div>
