<div class="container">

  <div class="p-5">
    <h2 class="heading"> <span class="test">My Jobs</span></h2>
    <p class ="litle-text", style="text-align:center">Find the jobs you posted, scheduled interviews and applicants</p>
  </div>

  <div class="employer-grid">
    <div class="employer-box">
      <div class="employer-count">
        <p><%= @my_applicants_size %></p>
      </div>
      <div class="employer-paragraph">
        <p>Applicants</p>
      </div>
    </div>

    <div class="employer-box">
      <div class="employer-count">
        <p><%= @my_count %></p>
      </div>
      <div class="employer-paragraph">
        <p>Jobs posted</p>
      </div>
    </div>

    <div class="employer-box">
      <div class="employer-count">
        <p>4</p>
      </div>
      <div class="employer-paragraph">
        <p>Interviews</p>
      </div>
    </div>
  </div>
  <br>
  <br>
  <% @my_jobs.each do |job|  %>
  <div class="card">
    <div class="card-header d-flex justify-content-between">
      <h5><%= job.title %></h5>
    </div>
    <div class="card-body">
      <p class="card-text"><%= job.description.truncate_words(30)%></p>
      <div>
        <p><%= @my_applicants_size %> Applicants </p>
        <ul>
          <% @my_applications.each do |applicant| %>
            <li> <%= link_to applicant.user.first_name, application_path(applicant.id) %> </li>
          <% end %>
        </ul>
      </div>
      <div style="text-align:center">
        <%= link_to "View" , job_path(job), class: "btn btn-primary" %>
        <%= link_to "Remove", job_path(job), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger"%>
      </div>
    </div>
  </div>
  <% end %>
</div>
<br>

  <div style="text-align:center">
    <%= link_to "Post an internship", new_organisation_job_path(current_user.organisation), class: "btn btn-primary" %>
  </div>
  <br>

  <div class="footer">
    <div class="box-container">
      <div class="box">
        <h3>About Us</h3>
        <p>We are a team of commited young graduates who are helping to connect aspiring job seekers with great employers. We have a history of 15 years. We have had more than 100,000 students using our website to apply for internships.</p>
      </div>
      <div class="box">
        <h3>Follow us</h3>
        <a href="#">Facebook</a>
        <a href="#">Instagram</a>
        <a href="#">LinkedIn</a>
        <a href="#">Twitter</a>
        <a href="#">Youtube</a>
      </div>
      <div class="box">
        <h3>Legal</h3>
        <a href="#">Terms</a>
        <a href="#">Privacy</a>
      </div>
    </div>
</div>
