<body>
  <div>
    <section class="home">
      <div class="content">
        <h1><span class="test">Your internship is one click away</span></h1>
        <p>Join our community of 100,000+ applicants. Our applicants have been able to secure great internships at Forture 500 companies based in Mauritius. Learn, Grow and Succeed with us</p>
        <%= link_to "View all", jobs_path, class: "botton" %>
      </div>
      <div class="image">
        <%= image_tag "7511.png", height: 500%>
      </div>
    </section>
  </div><br>

  <div>
    <section class="features">
      <h3 class="heading-1"><span class="test">They trust MO-Intern</span></h3>
      <div class="box-container-companie mt-3">
        <div class="box-companie mt-5">
          <%= image_tag "kpmg-logo.png", class: "logo" %>
        </div>
        <div class="box-companie mt-5">
          <%= image_tag "deloitte-logo.png", class: "logo" %>
        </div>
        <div class="box-companie mt-5">
          <%= image_tag "wagon-logo.png", class: "logo" %>
        </div>
        <div class="box-companie mt-5">
          <%= image_tag "ciel-logo.jpg", class: "logo" %>
        </div>
        <div class="box-companie mt-5">
          <%= image_tag "logo_MauBank.jpg", class: "logo" %>
        </div>
        <div class="box-companie mt-5">
          <%= image_tag "sbm-logo.png", class: "logo" %>
        </div>
        <div class="box-companie mt-5">
          <%= image_tag "ibl-logo.png", class: "logo" %>
        </div>
        <div class="box-companie mt-5">
          <%= image_tag "air-mauritius.png", class: "logo" %>
        </div>
      </div>
    </section>
  </div><br><br>


  <div class="container mt-5">
    <div class="employer-grid">
      <div class="employer-box">
        <div class="employer-count">
          <p>200</p>
        </div>
        <div class="employer-paragraph">
          <p>Internships in Finance</p>
        </div>
      </div>

      <div class="employer-box">
        <div class="employer-count">
          <p>50</p>
        </div>
        <div class="employer-paragraph">
          <p>Internships in Marketing</p>
        </div>
      </div>

      <div class="employer-box">
        <div class="employer-count">
          <p>78</p>
        </div>
        <div class="employer-paragraph">
          <p>Internships in Digital</p>
        </div>
      </div>
    </div>
  </div><br><br>

  <section class="features">
    <h3 class="heading-1 mt-4"><span class="test">Latest internships posted on MO-Intern</span></h3><br>
    <div class="box-container">
      <% @jobs.last(5).each do |job|  %>
      <div class="card-revised d-flex">
        <div class="card-revised-new">
          <h4><%= job.title %></h4>
          <h5><%= job.organisation.name%>, <%= job.organisation.city %></h5>
          <p><%= job.description.truncate_words(30) %></p>
          <p><span class="card-category"><%= job.category%></span></p>
        </div>
        <div class="card-revised-link">
          <% if current_user && current_user.role == "Applicant" %>
            <%= link_to "👉 Apply", applications_path(job_id: job.id), method: :post, class: "revised-button" %>
          <% end %>
          <br></br>
          <%= link_to "🔍 View", job_path(job), class: "revised-button button-green" %>
        </div>
      </div>
      <% end %>
    </div>
  </section>




   <section class="review">
    <h1 class="mt-3 heading"><span class="test">Reviews</span></h1>
    <div class="box-container">
      <div class="box">
        <i class="fas fa-quote-right"></i>
        <div class="user">
          <%= image_tag "p1.jpg", class: "headshot"%>
          <h3>Shaina Chaaya</h3>
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>
          <div class="comment">
            Mo-Intern has been really helpful to me.
            They helped me find an internship in less than 3 weeks.
            I am forever grateful❤️❤️❤️
          </div>
        </div>
      </div>
      <div class="box">
        <i class="fas fa-quote-right"></i>
        <div class="user">
          <%= image_tag "p3.jpg", class: "headshot"%>
          <h3>Franco Domney</h3>
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>
          <div class="comment">
            Mo-Intern is the best internship website for me.💥💯
            There are always so many choices there.🤗
            From Marketing to Accounting, everybody has a chance to apply.🤑
          </div>
        </div>
      </div>
      <div class="box">
        <i class="fas fa-quote-right"></i>
        <div class="user">
          <%= image_tag "p2.jpg",class: "headshot"%>
          <h3>Alicia Johnson</h3>
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
          </div>
          <div class="comment">
            Mo-Intern has played a huge part in my career.👍🏼
            I am very grateful❤️
          </div>
        </div>
      </div>
    </div>
  </section>
  <br></br>
  <div class="mt-5 footer">
    <div class="box-container">
      <div class="box">
        <h3>About Us</h3>
        <p>We are a team of commited young graduates who are helping to connect aspiring job seekers with great employers. We have a history of 15 years. We have had more than 100,000 students using our website to apply for internships.</p>
      </div>
      <div class="box">
        <h3>Follow us</h3>
        <a href="#">Facebook</a>
        <a href="#">Instagram</a>
        <a href="#">LinkedIn</a>
        <a href="#">Twitter</a>
        <a href="#">Youtube</a>
      </div>
      <div class="box">
        <h3>Legal</h3>
        <a href="#">Terms</a>
        <a href="#">Privacy</a>
      </div>
    </div>
  </div>
</body>

